<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091881610495-u1f15vgos715lmgrujska2jo90g8lve6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091881610495-u1f15vgos715lmgrujska2jo90g8lve6</string>
	<key>API_KEY</key>
	<string>AIzaSyCobcEBZXi700XNi0YZ6D_UISilVU7FAdY</string>
	<key>GCM_SENDER_ID</key>
	<string>1091881610495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rolox.money.dev</string>
	<key>PROJECT_ID</key>
	<string>roloxmoney-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>roloxmoney-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091881610495:ios:5ec9d14031a7c5907370ca</string>
</dict>
</plist>
